<h1>{{title}}</h1>
<p>Olá! Bem vindo a página alanstos no heroku :) </p>
<br/>
<h4>Rio de Janeiro / RJ - Brasil</h4>

<br />

<form method='post' action='/insert'>
	<input id="email" name="email"  placeholder="Digite seu e-mail..."/> 
	<button>Cadastrar</button>
</form>
